In [88]:
# Import libraries as needed
import requests
import pandas as pd
from bs4 import BeautifulSoup
import re

In [89]:

url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
response = requests.get(url)
html_content = response.text

In [92]:
soup = BeautifulSoup(html_content, "html.parser")
table = soup.find_all("table")
print("Total number of tables are {}".format(len(table)))

Total number of tables are 7

In [8]:
data_table = soup.find("table", {"class": "wikitable"})
print(type(data_table))

<class 'bs4.element.Tag'>

In [20]:
colspan_cells = data_table.find_all("th", attrs={"colspan": True})

source_names = []
for cell in colspan_cells:
    link = cell.find("a")
    if link:
        source_name = link.text.strip()
        source_names.append(source_name)

print(source_names)

['IMF', 'World Bank', 'United Nations']

In [82]:
# Exclude header rows
data_rows = data_table.find_all("tr")[3:]  

# Extract first source name
first_source_name = soup.find("th", {"colspan": "2"}).find("a").text.strip()

pattern = re.compile(r"\s*\[.*?\]")

# Extract data for the first source
source_data = []
for row in data_rows:
    columns = row.find_all("td")
    if len(columns) > 1:
        country = columns[0].text.strip()
        estimate = re.sub(pattern, "", columns[2].text.strip()) # Extract numeric values only
        year = re.sub(r"\D", "", columns[3].text.strip())  # Extract numeric values only
        source_data.append([country, estimate, year])

# Create dataframe
df = pd.DataFrame(source_data, columns=["Country/Territory", "Estimate", "Year"])

print("First Source Name:", first_source_name)
print(df)

First Source Name: IMF
    Country/Territory    Estimate   Year
0       United States  26,854,599   2023
1               China  19,373,586  12023
2               Japan   4,409,738   2023
3             Germany   4,308,854   2023
4               India   3,736,882   2023
..                ...         ...    ...
208          Anguilla           —
209          Kiribati         248   2023
210             Nauru         151   2023
211        Montserrat           —
212            Tuvalu          65   2023

[213 rows x 3 columns]

In [83]:
# Exclude header rows
data_rows = data_table.find_all("tr")[3:]  

# Extract second source name
second_source_name = soup.find("th", {"colspan": "2"}).find_next_sibling("th").find("a").text.strip()

# Extract data for the second source
second_source_data = []
for row in data_rows:
    columns = row.find_all("td")
    if len(columns) > 1:
        country = columns[0].text.strip()
        estimate = re.sub(pattern, "", columns[4].text.strip()) # Extract numeric values only
        year = re.sub(r"\D", "", columns[5].text.strip())  # Extract numeric values only
        second_source_data.append([country, estimate, year])

# Create dataframe for the second source
second_df = pd.DataFrame(second_source_data, columns=["Country/Territory", "Estimate", "Year"])

print("Second Source Name:", second_source_name)
print(second_df)

Second Source Name: World Bank
    Country/Territory    Estimate   Year
0       United States  25,462,700   2022
1               China  17,963,171  32022
2               Japan   4,231,141   2022
3             Germany   4,072,192   2022
4               India   3,385,090   2022
..                ...         ...    ...
208          Anguilla         303   2021
209          Kiribati         223   2022
210             Nauru         151   2022
211        Montserrat          72   2021
212            Tuvalu          60   2022

[213 rows x 3 columns]

In [94]:
data_rows = data_table.find_all("tr")[2:]  # Exclude header rows

# Extract third source name
third_source_name = soup.find('th', colspan='2').find_next_sibling('th').find_next_sibling('th').find('a').text.strip()
third_source_name

'United Nations'

In [93]:
# Extract data for the second source
third_source_data = []
for row in data_rows:
    columns = row.find_all('td')
    if len(columns) > 1:
        country = columns[0].text.strip()
        estimate_3 = re.sub(r'[^0-9,]', '', columns[6].text.strip())  # Extract numeric values only
        year_3 = re.sub(r'[^0-9]', '', columns[7].text.strip())  # Extract numeric values only
        third_source_data.append([country, estimate, year])

# Create dataframe for the third source
third_df = pd.DataFrame(third_source_data, columns=['Country/Territory', 'Estimate', 'Year'])

print('Third Source Name:', third_source_name)
print(third_df)

Third Source Name: United Nations
  Country/Territory Estimate  Year
0     United States       60  2022
1             China       60  2022
2             Japan       60  2022
3           Germany       60  2022

In [96]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
response = requests.get(url)
html_content = response.text

soup = BeautifulSoup(html_content, "html.parser")
table = soup.find("table", {"class": "wikitable"})
source_names = []
data_rows = []

for row in table.find_all("tr"):
    columns = row.find_all("td")

    # Extract source names
    if len(columns) > 1:
        source_name = columns[0].text.strip()
        source_names.append(source_name)

    # Extract data rows
    if len(columns) > 2:
        data_row = [column.text.strip() for column in columns[1:]]
        data_rows.append(data_row)

# Iterate through the sources and create separate dataframes
dfs = []
for i, source_name in enumerate(source_names):
    header_row = data_rows[0]
    data_rows = data_rows[1:]

    # Handle varying number of columns
    num_columns = len(header_row)
    data_rows = [row[:num_columns] for row in data_rows]

    df_source = pd.DataFrame(data_rows, columns=header_row)
    dfs.append(df_source)

# Access the dataframes for each source
for i, df in enumerate(dfs):
    print(f"Dataframe for source {i+1}:")
    print(df)
    print()

Dataframe for source 1:
            — 105,568,776       2023 101,002,997       2022  96,698,005  \
0    Americas  26,854,599       2023  25,462,700       2022  23,315,081
1        Asia  19,373,586  [n 1]2023  17,963,171  [n 3]2022  17,734,131
2        Asia   4,409,738       2023   4,231,141       2022   4,940,878
3      Europe   4,308,854       2023   4,072,192       2022   4,259,935
4        Asia   3,736,882       2023   3,385,090       2022   3,201,471
..        ...         ...        ...         ...        ...         ...
208  Americas           —          —         303       2021        None
209   Oceania         248       2023         223       2022         227
210   Oceania         151       2023         151       2022         155
211  Americas           —          —          72       2021        None
212   Oceania          65       2023          60       2022          60

          2021
0         2021
1    [n 1]2021
2         2021
3         2021
4         2021
..         ...
208       None
209       2021
210       2021
211       None
212       2021

[213 rows x 7 columns]

Dataframe for source 2:
     Americas  26,854,599       2023  25,462,700       2022  23,315,081  \
0        Asia  19,373,586  [n 1]2023  17,963,171  [n 3]2022  17,734,131
1        Asia   4,409,738       2023   4,231,141       2022   4,940,878
2      Europe   4,308,854       2023   4,072,192       2022   4,259,935
3        Asia   3,736,882       2023   3,385,090       2022   3,201,471
4      Europe   3,158,938       2023   3,070,668       2022   3,131,378
..        ...         ...        ...         ...        ...         ...
207  Americas           —          —         303       2021        None
208   Oceania         248       2023         223       2022         227
209   Oceania         151       2023         151       2022         155
210  Americas           —          —          72       2021        None
211   Oceania          65       2023          60       2022          60

          2021
0    [n 1]2021
1         2021
2         2021
3         2021
4         2021
..         ...
207       None
208       2021
209       2021
210       None
211       2021

[212 rows x 7 columns]

Dataframe for source 3:
         Asia 19,373,586 [n 1]2023 17,963,171 [n 3]2022 17,734,131 [n 1]2021
0        Asia  4,409,738      2023  4,231,141      2022  4,940,878      2021
1      Europe  4,308,854      2023  4,072,192      2022  4,259,935      2021
2        Asia  3,736,882      2023  3,385,090      2022  3,201,471      2021
3      Europe  3,158,938      2023  3,070,668      2022  3,131,378      2021
4      Europe  2,923,489      2023  2,782,905      2022  2,957,880      2021
..        ...        ...       ...        ...       ...        ...       ...
206  Americas          —         —        303      2021       None      None
207   Oceania        248      2023        223      2022        227      2021
208   Oceania        151      2023        151      2022        155      2021
209  Americas          —         —         72      2021       None      None
210   Oceania         65      2023         60      2022         60      2021

[211 rows x 7 columns]

Dataframe for source 4:
         Asia  4,409,738  2023  4,231,141  2022  4,940,878  2021
0      Europe  4,308,854  2023  4,072,192  2022  4,259,935  2021
1        Asia  3,736,882  2023  3,385,090  2022  3,201,471  2021
2      Europe  3,158,938  2023  3,070,668  2022  3,131,378  2021
3      Europe  2,923,489  2023  2,782,905  2022  2,957,880  2021
4      Europe  2,169,745  2023  2,010,432  2022  2,107,703  2021
..        ...        ...   ...        ...   ...        ...   ...
205  Americas          —     —        303  2021       None  None
206   Oceania        248  2023        223  2022        227  2021
207   Oceania        151  2023        151  2022        155  2021
208  Americas          —     —         72  2021       None  None
209   Oceania         65  2023         60  2022         60  2021

[210 rows x 7 columns]

Dataframe for source 5:
       Europe  4,308,854  2023  4,072,192  2022  4,259,935  2021
0        Asia  3,736,882  2023  3,385,090  2022  3,201,471  2021
1      Europe  3,158,938  2023  3,070,668  2022  3,131,378  2021
2      Europe  2,923,489  2023  2,782,905  2022  2,957,880  2021
3      Europe  2,169,745  2023  2,010,432  2022  2,107,703  2021
4    Americas  2,089,672  2023  2,139,840  2022  1,988,336  2021
..        ...        ...   ...        ...   ...        ...   ...
204  Americas          —     —        303  2021       None  None
205   Oceania        248  2023        223  2022        227  2021
206   Oceania        151  2023        151  2022        155  2021
207  Americas          —     —         72  2021       None  None
208   Oceania         65  2023         60  2022         60  2021

[209 rows x 7 columns]

Dataframe for source 6:
         Asia  3,736,882  2023  3,385,090  2022  3,201,471  2021
0      Europe  3,158,938  2023  3,070,668  2022  3,131,378  2021
1      Europe  2,923,489  2023  2,782,905  2022  2,957,880  2021
2      Europe  2,169,745  2023  2,010,432  2022  2,107,703  2021
3    Americas  2,089,672  2023  2,139,840  2022  1,988,336  2021
4    Americas  2,081,235  2023  1,920,096  2022  1,608,981  2021
..        ...        ...   ...        ...   ...        ...   ...
203  Americas          —     —        303  2021       None  None
204   Oceania        248  2023        223  2022        227  2021
205   Oceania        151  2023        151  2022        155  2021
206  Americas          —     —         72  2021       None  None
207   Oceania         65  2023         60  2022         60  2021

[208 rows x 7 columns]

Dataframe for source 7:
       Europe  3,158,938  2023  3,070,668  2022  3,131,378  2021
0      Europe  2,923,489  2023  2,782,905  2022  2,957,880  2021
1      Europe  2,169,745  2023  2,010,432  2022  2,107,703  2021
2    Americas  2,089,672  2023  2,139,840  2022  1,988,336  2021
3    Americas  2,081,235  2023  1,920,096  2022  1,608,981  2021
4      Europe  2,062,649  2023  2,240,422  2022  1,778,782  2021
..        ...        ...   ...        ...   ...        ...   ...
202  Americas          —     —        303  2021       None  None
203   Oceania        248  2023        223  2022        227  2021
204   Oceania        151  2023        151  2022        155  2021
205  Americas          —     —         72  2021       None  None
206   Oceania         65  2023         60  2022         60  2021

[207 rows x 7 columns]

Dataframe for source 8:
       Europe  2,923,489  2023  2,782,905  2022  2,957,880  2021
0      Europe  2,169,745  2023  2,010,432  2022  2,107,703  2021
1    Americas  2,089,672  2023  2,139,840  2022  1,988,336  2021
2    Americas  2,081,235  2023  1,920,096  2022  1,608,981  2021
3      Europe  2,062,649  2023  2,240,422  2022  1,778,782  2021
4        Asia  1,721,909  2023  1,665,246  2022  1,810,966  2021
..        ...        ...   ...        ...   ...        ...   ...
201  Americas          —     —        303  2021       None  None
202   Oceania        248  2023        223  2022        227  2021
203   Oceania        151  2023        151  2022        155  2021
204  Americas          —     —         72  2021       None  None
205   Oceania         65  2023         60  2022         60  2021

[206 rows x 7 columns]

Dataframe for source 9:
       Europe  2,169,745  2023  2,010,432  2022  2,107,703  2021
0    Americas  2,089,672  2023  2,139,840  2022  1,988,336  2021
1    Americas  2,081,235  2023  1,920,096  2022  1,608,981  2021
2      Europe  2,062,649  2023  2,240,422  2022  1,778,782  2021
3        Asia  1,721,909  2023  1,665,246  2022  1,810,966  2021
4     Oceania  1,707,548  2023  1,675,419  2022  1,734,532  2021
..        ...        ...   ...        ...   ...        ...   ...
200  Americas          —     —        303  2021       None  None
201   Oceania        248  2023        223  2022        227  2021
202   Oceania        151  2023        151  2022        155  2021
203  Americas          —     —         72  2021       None  None
204   Oceania         65  2023         60  2022         60  2021

[205 rows x 7 columns]

Dataframe for source 10:
     Americas  2,089,672  2023  2,139,840  2022  1,988,336  2021
0    Americas  2,081,235  2023  1,920,096  2022  1,608,981  2021
1      Europe  2,062,649  2023  2,240,422  2022  1,778,782  2021
2        Asia  1,721,909  2023  1,665,246  2022  1,810,966  2021
3     Oceania  1,707,548  2023  1,675,419  2022  1,734,532  2021
4    Americas  1,663,164  2023  1,414,187  2022  1,272,839  2021
..        ...        ...   ...        ...   ...        ...   ...
199  Americas          —     —        303  2021       None  None
200   Oceania        248  2023        223  2022        227  2021
201   Oceania        151  2023        151  2022        155  2021
202  Americas          —     —         72  2021       None  None
203   Oceania         65  2023         60  2022         60  2021

[204 rows x 7 columns]

Dataframe for source 11:
     Americas  2,081,235  2023  1,920,096  2022  1,608,981  2021
0      Europe  2,062,649  2023  2,240,422  2022  1,778,782  2021
1        Asia  1,721,909  2023  1,665,246  2022  1,810,966  2021
2     Oceania  1,707,548  2023  1,675,419  2022  1,734,532  2021
3    Americas  1,663,164  2023  1,414,187  2022  1,272,839  2021
4      Europe  1,492,432  2023  1,397,509  2022  1,427,381  2021
..        ...        ...   ...        ...   ...        ...   ...
198  Americas          —     —        303  2021       None  None
199   Oceania        248  2023        223  2022        227  2021
200   Oceania        151  2023        151  2022        155  2021
201  Americas          —     —         72  2021       None  None
202   Oceania         65  2023         60  2022         60  2021

[203 rows x 7 columns]

Dataframe for source 12:
       Europe  2,062,649  2023  2,240,422  2022  1,778,782  2021
0        Asia  1,721,909  2023  1,665,246  2022  1,810,966  2021
1     Oceania  1,707,548  2023  1,675,419  2022  1,734,532  2021
2    Americas  1,663,164  2023  1,414,187  2022  1,272,839  2021
3      Europe  1,492,432  2023  1,397,509  2022  1,427,381  2021
4        Asia  1,391,778  2023  1,319,100  2022  1,186,093  2021
..        ...        ...   ...        ...   ...        ...   ...
197  Americas          —     —        303  2021       None  None
198   Oceania        248  2023        223  2022        227  2021
199   Oceania        151  2023        151  2022        155  2021
200  Americas          —     —         72  2021       None  None
201   Oceania         65  2023         60  2022         60  2021

[202 rows x 7 columns]

Dataframe for source 13:
         Asia  1,721,909  2023  1,665,246  2022  1,810,966  2021
0     Oceania  1,707,548  2023  1,675,419  2022  1,734,532  2021
1    Americas  1,663,164  2023  1,414,187  2022  1,272,839  2021
2      Europe  1,492,432  2023  1,397,509  2022  1,427,381  2021
3        Asia  1,391,778  2023  1,319,100  2022  1,186,093  2021
4      Europe  1,080,880  2023    991,115  2022  1,012,847  2021
..        ...        ...   ...        ...   ...        ...   ...
196  Americas          —     —        303  2021       None  None
197   Oceania        248  2023        223  2022        227  2021
198   Oceania        151  2023        151  2022        155  2021
199  Americas          —     —         72  2021       None  None
200   Oceania         65  2023         60  2022         60  2021

[201 rows x 7 columns]

Dataframe for source 14:
      Oceania  1,707,548  2023  1,675,419  2022  1,734,532  2021
0    Americas  1,663,164  2023  1,414,187  2022  1,272,839  2021
1      Europe  1,492,432  2023  1,397,509  2022  1,427,381  2021
2        Asia  1,391,778  2023  1,319,100  2022  1,186,093  2021
3      Europe  1,080,880  2023    991,115  2022  1,012,847  2021
4        Asia  1,061,902  2023  1,108,149  2022    833,541  2021
..        ...        ...   ...        ...   ...        ...   ...
195  Americas          —     —        303  2021       None  None
196   Oceania        248  2023        223  2022        227  2021
197   Oceania        151  2023        151  2022        155  2021
198  Americas          —     —         72  2021       None  None
199   Oceania         65  2023         60  2022         60  2021

[200 rows x 7 columns]

Dataframe for source 15:
     Americas  1,663,164  2023  1,414,187  2022  1,272,839  2021
0      Europe  1,492,432  2023  1,397,509  2022  1,427,381  2021
1        Asia  1,391,778  2023  1,319,100  2022  1,186,093  2021
2      Europe  1,080,880  2023    991,115  2022  1,012,847  2021
3        Asia  1,061,902  2023  1,108,149  2022    833,541  2021
4        Asia  1,029,303  2023    905,988  2022    819,034  2021
..        ...        ...   ...        ...   ...        ...   ...
194  Americas          —     —        303  2021       None  None
195   Oceania        248  2023        223  2022        227  2021
196   Oceania        151  2023        151  2022        155  2021
197  Americas          —     —         72  2021       None  None
198   Oceania         65  2023         60  2022         60  2021

[199 rows x 7 columns]

Dataframe for source 16:
       Europe  1,492,432  2023  1,397,509  2022  1,427,381  2021
0        Asia  1,391,778  2023  1,319,100  2022  1,186,093  2021
1      Europe  1,080,880  2023    991,115  2022  1,012,847  2021
2        Asia  1,061,902  2023  1,108,149  2022    833,541  2021
3        Asia  1,029,303  2023    905,988  2022    819,034  2021
4      Europe    869,601  2023    807,706  2022    812,867  2021
..        ...        ...   ...        ...   ...        ...   ...
193  Americas          —     —        303  2021       None  None
194   Oceania        248  2023        223  2022        227  2021
195   Oceania        151  2023        151  2022        155  2021
196  Americas          —     —         72  2021       None  None
197   Oceania         65  2023         60  2022         60  2021

[198 rows x 7 columns]

Dataframe for source 17:
         Asia  1,391,778       2023  1,319,100  2022  1,186,093  2021
0      Europe  1,080,880       2023    991,115  2022  1,012,847  2021
1        Asia  1,061,902       2023  1,108,149  2022    833,541  2021
2        Asia  1,029,303       2023    905,988  2022    819,034  2021
3      Europe    869,601       2023    807,706  2022    812,867  2021
4        Asia    790,728  [n 4]2023          —     —       None  None
..        ...        ...        ...        ...   ...        ...   ...
192  Americas          —          —        303  2021       None  None
193   Oceania        248       2023        223  2022        227  2021
194   Oceania        151       2023        151  2022        155  2021
195  Americas          —          —         72  2021       None  None
196   Oceania         65       2023         60  2022         60  2021

[197 rows x 7 columns]

Dataframe for source 18:
       Europe  1,080,880       2023    991,115  2022 1,012,847  2021
0        Asia  1,061,902       2023  1,108,149  2022   833,541  2021
1        Asia  1,029,303       2023    905,988  2022   819,034  2021
2      Europe    869,601       2023    807,706  2022   812,867  2021
3        Asia    790,728  [n 4]2023          —     —      None  None
4      Europe    748,887       2023    688,177  2022   679,442  2021
..        ...        ...        ...        ...   ...       ...   ...
191  Americas          —          —        303  2021      None  None
192   Oceania        248       2023        223  2022       227  2021
193   Oceania        151       2023        151  2022       155  2021
194  Americas          —          —         72  2021      None  None
195   Oceania         65       2023         60  2022        60  2021

[196 rows x 7 columns]

Dataframe for source 19:
         Asia  1,061,902       2023 1,108,149  2022  833,541  2021
0        Asia  1,029,303       2023   905,988  2022  819,034  2021
1      Europe    869,601       2023   807,706  2022  812,867  2021
2        Asia    790,728  [n 4]2023         —     —     None  None
3      Europe    748,887       2023   688,177  2022  679,442  2021
4    Americas    641,102       2023   632,770  2022  487,227  2021
..        ...        ...        ...       ...   ...      ...   ...
190  Americas          —          —       303  2021     None  None
191   Oceania        248       2023       223  2022      227  2021
192   Oceania        151       2023       151  2022      155  2021
193  Americas          —          —        72  2021     None  None
194   Oceania         65       2023        60  2022       60  2021

[195 rows x 7 columns]

Dataframe for source 20:
         Asia 1,029,303       2023  905,988  2022  819,034  2021
0      Europe   869,601       2023  807,706  2022  812,867  2021
1        Asia   790,728  [n 4]2023        —     —     None  None
2      Europe   748,887       2023  688,177  2022  679,442  2021
3    Americas   641,102       2023  632,770  2022  487,227  2021
4      Europe   624,248       2023  578,604  2022  594,104  2021
..        ...       ...        ...      ...   ...      ...   ...
189  Americas         —          —      303  2021     None  None
190   Oceania       248       2023      223  2022      227  2021
191   Oceania       151       2023      151  2022      155  2021
192  Americas         —          —       72  2021     None  None
193   Oceania        65       2023       60  2022       60  2021

[194 rows x 7 columns]

Dataframe for source 21:
       Europe  869,601       2023  807,706  2022  812,867  2021
0        Asia  790,728  [n 4]2023        —     —     None  None
1      Europe  748,887       2023  688,177  2022  679,442  2021
2    Americas  641,102       2023  632,770  2022  487,227  2021
3      Europe  624,248       2023  578,604  2022  594,104  2021
4      Europe  599,052       2023  585,939  2022  635,664  2021
..        ...      ...        ...      ...   ...      ...   ...
188  Americas        —          —      303  2021     None  None
189   Oceania      248       2023      223  2022      227  2021
190   Oceania      151       2023      151  2022      155  2021
191  Americas        —          —       72  2021     None  None
192   Oceania       65       2023       60  2022       60  2021

[193 rows x 7 columns]

Dataframe for source 22:
         Asia  790,728 [n 4]2023        —     —
0      Europe  748,887      2023  688,177  2022
1    Americas  641,102      2023  632,770  2022
2      Europe  624,248      2023  578,604  2022
3      Europe  599,052      2023  585,939  2022
4      Europe  594,095      2023  529,245  2022
..        ...      ...       ...      ...   ...
187  Americas        —         —      303  2021
188   Oceania      248      2023      223  2022
189   Oceania      151      2023      151  2022
190  Americas        —         —       72  2021
191   Oceania       65      2023       60  2022

[192 rows x 5 columns]

Dataframe for source 23:
       Europe  748,887  2023  688,177  2022
0    Americas  641,102  2023  632,770  2022
1      Europe  624,248  2023  578,604  2022
2      Europe  599,052  2023  585,939  2022
3      Europe  594,095  2023  529,245  2022
4        Asia  574,231  2023  495,341  2022
..        ...      ...   ...      ...   ...
186  Americas        —     —      303  2021
187   Oceania      248  2023      223  2022
188   Oceania      151  2023      151  2022
189  Americas        —     —       72  2021
190   Oceania       65  2023       60  2022

[191 rows x 5 columns]

Dataframe for source 24:
     Americas  641,102  2023  632,770  2022
0      Europe  624,248  2023  578,604  2022
1      Europe  599,052  2023  585,939  2022
2      Europe  594,095  2023  529,245  2022
3        Asia  574,231  2023  495,341  2022
4      Europe  554,105  2023  579,267  2022
..        ...      ...   ...      ...   ...
185  Americas        —     —      303  2021
186   Oceania      248  2023      223  2022
187   Oceania      151  2023      151  2022
188  Americas        —     —       72  2021
189   Oceania       65  2023       60  2022


      Africa  3,916   2023  3,515   2022
0     Europe  3,669   2023  3,352   2022
1   Americas  3,633   2023      —  3,126
2     Africa  3,520   2023  3,970   2022
3   Americas  3,470   2023  3,621   2022
4     Africa  3,234   2023  3,073   2022
5   Americas  3,162   2023  2,824   2022
6   Americas      —      —  3,273   2021
7     Africa  2,736   2023  2,383   2022
8   Americas      —      —  2,700   2021
9       Asia  2,683   2023      —  2,381
10    Africa  2,666   2023      —  2,255
11    Africa  2,584   2023  2,553   2022
12    Africa  2,468   2023  2,315   2022
13    Africa  2,277   2023  2,273   2022
14  Americas  2,262   2023  2,065   2022
15      Asia  1,988   2023  3,163   2022
16    Africa  1,950   2023  1,588   2022
17    Africa  1,887   2023  1,634   2022
18  Americas  1,864   2023  1,758   2022
19    Europe  1,807   2023      —  1,702
20    Africa      —      —  2,080   2021
21   Oceania  1,701   2023  1,596   2022
22  Americas      —      —  1,539   2021
23    Africa  1,348   2023  1,243   2022
24  Americas  1,274   2023  1,256   2022
25   Oceania  1,064   2023    984   2022
26  Americas  1,052   2023    962   2022
27  Americas  1,039   2023    949   2022
28  Americas      —  1,139   2022    943
29   Oceania    898   2023    832   2022
30  Americas      —  1,572   2022  1,154
31  Americas    681   2023    612   2022
32    Africa    625   2023    547   2022
33   Oceania    541   2023      —    472
34   Oceania    456   2023    427   2022
35   Oceania    291   2023    280   2022
36   Oceania      —      —    328   2021
37   Oceania    262   2023      —    218
38  Americas      —      —    303   2021
39   Oceania    248   2023    223   2022
40   Oceania    151   2023    151   2022
41  Americas      —      —     72   2021
42   Oceania     65   2023     60   2022

Dataframe for source 172:
      Europe  3,669   2023  3,352   2022
0   Americas  3,633   2023      —  3,126
1     Africa  3,520   2023  3,970   2022
2   Americas  3,470   2023  3,621   2022
3     Africa  3,234   2023  3,073   2022
4   Americas  3,162   2023  2,824   2022
5   Americas      —      —  3,273   2021
6     Africa  2,736   2023  2,383   2022
7   Americas      —      —  2,700   2021
8       Asia  2,683   2023      —  2,381
9     Africa  2,666   2023      —  2,255
10    Africa  2,584   2023  2,553   2022
11    Africa  2,468   2023  2,315   2022
12    Africa  2,277   2023  2,273   2022
13  Americas  2,262   2023  2,065   2022
14      Asia  1,988   2023  3,163   2022
15    Africa  1,950   2023  1,588   2022
16    Africa  1,887   2023  1,634   2022
17  Americas  1,864   2023  1,758   2022
18    Europe  1,807   2023      —  1,702
19    Africa      —      —  2,080   2021
20   Oceania  1,701   2023  1,596   2022
21  Americas      —      —  1,539   2021
22    Africa  1,348   2023  1,243   2022
23  Americas  1,274   2023  1,256   2022
24   Oceania  1,064   2023    984   2022
25  Americas  1,052   2023    962   2022
26  Americas  1,039   2023    949   2022
27  Americas      —  1,139   2022    943
28   Oceania    898   2023    832   2022
29  Americas      —  1,572   2022  1,154
30  Americas    681   2023    612   2022
31    Africa    625   2023    547   2022
32   Oceania    541   2023      —    472
33   Oceania    456   2023    427   2022
34   Oceania    291   2023    280   2022
35   Oceania      —      —    328   2021
36   Oceania    262   2023      —    218
37  Americas      —      —    303   2021
38   Oceania    248   2023    223   2022
39   Oceania    151   2023    151   2022
40  Americas      —      —     72   2021
41   Oceania     65   2023     60   2022

Dataframe for source 173:
    Americas  3,633   2023      —  3,126
0     Africa  3,520   2023  3,970   2022
1   Americas  3,470   2023  3,621   2022
2     Africa  3,234   2023  3,073   2022
3   Americas  3,162   2023  2,824   2022
4   Americas      —      —  3,273   2021
5     Africa  2,736   2023  2,383   2022
6   Americas      —      —  2,700   2021
7       Asia  2,683   2023      —  2,381
8     Africa  2,666   2023      —  2,255
9     Africa  2,584   2023  2,553   2022
10    Africa  2,468   2023  2,315   2022
11    Africa  2,277   2023  2,273   2022
12  Americas  2,262   2023  2,065   2022
13      Asia  1,988   2023  3,163   2022
14    Africa  1,950   2023  1,588   2022
15    Africa  1,887   2023  1,634   2022
16  Americas  1,864   2023  1,758   2022
17    Europe  1,807   2023      —  1,702
18    Africa      —      —  2,080   2021
19   Oceania  1,701   2023  1,596   2022
20  Americas      —      —  1,539   2021
21    Africa  1,348   2023  1,243   2022
22  Americas  1,274   2023  1,256   2022
23   Oceania  1,064   2023    984   2022
24  Americas  1,052   2023    962   2022
25  Americas  1,039   2023    949   2022
26  Americas      —  1,139   2022    943
27   Oceania    898   2023    832   2022
28  Americas      —  1,572   2022  1,154
29  Americas    681   2023    612   2022
30    Africa    625   2023    547   2022
31   Oceania    541   2023      —    472
32   Oceania    456   2023    427   2022
33   Oceania    291   2023    280   2022
34   Oceania      —      —    328   2021
35   Oceania    262   2023      —    218
36  Americas      —      —    303   2021
37   Oceania    248   2023    223   2022
38   Oceania    151   2023    151   2022
39  Americas      —      —     72   2021
40   Oceania     65   2023     60   2022

Dataframe for source 174:
      Africa  3,520   2023  3,970   2022
0   Americas  3,470   2023  3,621   2022
1     Africa  3,234   2023  3,073   2022
2   Americas  3,162   2023  2,824   2022
3   Americas      —      —  3,273   2021
4     Africa  2,736   2023  2,383   2022
5   Americas      —      —  2,700   2021
6       Asia  2,683   2023      —  2,381
7     Africa  2,666   2023      —  2,255
8     Africa  2,584   2023  2,553   2022
9     Africa  2,468   2023  2,315   2022
10    Africa  2,277   2023  2,273   2022
11  Americas  2,262   2023  2,065   2022
12      Asia  1,988   2023  3,163   2022
13    Africa  1,950   2023  1,588   2022
14    Africa  1,887   2023  1,634   2022
15  Americas  1,864   2023  1,758   2022
16    Europe  1,807   2023      —  1,702
17    Africa      —      —  2,080   2021
18   Oceania  1,701   2023  1,596   2022
19  Americas      —      —  1,539   2021
20    Africa  1,348   2023  1,243   2022
21  Americas  1,274   2023  1,256   2022
22   Oceania  1,064   2023    984   2022
23  Americas  1,052   2023    962   2022
24  Americas  1,039   2023    949   2022
25  Americas      —  1,139   2022    943
26   Oceania    898   2023    832   2022
27  Americas      —  1,572   2022  1,154
28  Americas    681   2023    612   2022
29    Africa    625   2023    547   2022
30   Oceania    541   2023      —    472
31   Oceania    456   2023    427   2022
32   Oceania    291   2023    280   2022
33   Oceania      —      —    328   2021
34   Oceania    262   2023      —    218
35  Americas      —      —    303   2021
36   Oceania    248   2023    223   2022
37   Oceania    151   2023    151   2022
38  Americas      —      —     72   2021
39   Oceania     65   2023     60   2022

Dataframe for source 175:
    Americas  3,470   2023  3,621   2022
0     Africa  3,234   2023  3,073   2022
1   Americas  3,162   2023  2,824   2022
2   Americas      —      —  3,273   2021
3     Africa  2,736   2023  2,383   2022
4   Americas      —      —  2,700   2021
5       Asia  2,683   2023      —  2,381
6     Africa  2,666   2023      —  2,255
7     Africa  2,584   2023  2,553   2022
8     Africa  2,468   2023  2,315   2022
9     Africa  2,277   2023  2,273   2022
10  Americas  2,262   2023  2,065   2022
11      Asia  1,988   2023  3,163   2022
12    Africa  1,950   2023  1,588   2022
13    Africa  1,887   2023  1,634   2022
14  Americas  1,864   2023  1,758   2022
15    Europe  1,807   2023      —  1,702
16    Africa      —      —  2,080   2021
17   Oceania  1,701   2023  1,596   2022
18  Americas      —      —  1,539   2021
19    Africa  1,348   2023  1,243   2022
20  Americas  1,274   2023  1,256   2022
21   Oceania  1,064   2023    984   2022
22  Americas  1,052   2023    962   2022
23  Americas  1,039   2023    949   2022
24  Americas      —  1,139   2022    943
25   Oceania    898   2023    832   2022
26  Americas      —  1,572   2022  1,154
27  Americas    681   2023    612   2022
28    Africa    625   2023    547   2022
29   Oceania    541   2023      —    472
30   Oceania    456   2023    427   2022
31   Oceania    291   2023    280   2022
32   Oceania      —      —    328   2021
33   Oceania    262   2023      —    218
34  Americas      —      —    303   2021
35   Oceania    248   2023    223   2022
36   Oceania    151   2023    151   2022
37  Americas      —      —     72   2021
38   Oceania     65   2023     60   2022

Dataframe for source 176:
      Africa  3,234   2023  3,073   2022
0   Americas  3,162   2023  2,824   2022
1   Americas      —      —  3,273   2021
2     Africa  2,736   2023  2,383   2022
3   Americas      —      —  2,700   2021
4       Asia  2,683   2023      —  2,381
5     Africa  2,666   2023      —  2,255
6     Africa  2,584   2023  2,553   2022
7     Africa  2,468   2023  2,315   2022
8     Africa  2,277   2023  2,273   2022
9   Americas  2,262   2023  2,065   2022
10      Asia  1,988   2023  3,163   2022
11    Africa  1,950   2023  1,588   2022
12    Africa  1,887   2023  1,634   2022
13  Americas  1,864   2023  1,758   2022
14    Europe  1,807   2023      —  1,702
15    Africa      —      —  2,080   2021
16   Oceania  1,701   2023  1,596   2022
17  Americas      —      —  1,539   2021
18    Africa  1,348   2023  1,243   2022
19  Americas  1,274   2023  1,256   2022
20   Oceania  1,064   2023    984   2022
21  Americas  1,052   2023    962   2022
22  Americas  1,039   2023    949   2022
23  Americas      —  1,139   2022    943
24   Oceania    898   2023    832   2022
25  Americas      —  1,572   2022  1,154
26  Americas    681   2023    612   2022
27    Africa    625   2023    547   2022
28   Oceania    541   2023      —    472
29   Oceania    456   2023    427   2022
30   Oceania    291   2023    280   2022
31   Oceania      —      —    328   2021
32   Oceania    262   2023      —    218
33  Americas      —      —    303   2021
34   Oceania    248   2023    223   2022
35   Oceania    151   2023    151   2022
36  Americas      —      —     72   2021
37   Oceania     65   2023     60   2022

Dataframe for source 177:
    Americas  3,162   2023  2,824   2022
0   Americas      —      —  3,273   2021
1     Africa  2,736   2023  2,383   2022
2   Americas      —      —  2,700   2021
3       Asia  2,683   2023      —  2,381
4     Africa  2,666   2023      —  2,255
5     Africa  2,584   2023  2,553   2022
6     Africa  2,468   2023  2,315   2022
7     Africa  2,277   2023  2,273   2022
8   Americas  2,262   2023  2,065   2022
9       Asia  1,988   2023  3,163   2022
10    Africa  1,950   2023  1,588   2022
11    Africa  1,887   2023  1,634   2022
12  Americas  1,864   2023  1,758   2022
13    Europe  1,807   2023      —  1,702
14    Africa      —      —  2,080   2021
15   Oceania  1,701   2023  1,596   2022
16  Americas      —      —  1,539   2021
17    Africa  1,348   2023  1,243   2022
18  Americas  1,274   2023  1,256   2022
19   Oceania  1,064   2023    984   2022
20  Americas  1,052   2023    962   2022
21  Americas  1,039   2023    949   2022
22  Americas      —  1,139   2022    943
23   Oceania    898   2023    832   2022
24  Americas      —  1,572   2022  1,154
25  Americas    681   2023    612   2022
26    Africa    625   2023    547   2022
27   Oceania    541   2023      —    472
28   Oceania    456   2023    427   2022
29   Oceania    291   2023    280   2022
30   Oceania      —      —    328   2021
31   Oceania    262   2023      —    218
32  Americas      —      —    303   2021
33   Oceania    248   2023    223   2022
34   Oceania    151   2023    151   2022
35  Americas      —      —     72   2021
36   Oceania     65   2023     60   2022

Dataframe for source 178:
    Americas      —      —  3,273   2021
0     Africa  2,736   2023  2,383   2022
1   Americas      —      —  2,700   2021
2       Asia  2,683   2023      —  2,381
3     Africa  2,666   2023      —  2,255
4     Africa  2,584   2023  2,553   2022
5     Africa  2,468   2023  2,315   2022
6     Africa  2,277   2023  2,273   2022
7   Americas  2,262   2023  2,065   2022
8       Asia  1,988   2023  3,163   2022
9     Africa  1,950   2023  1,588   2022
10    Africa  1,887   2023  1,634   2022
11  Americas  1,864   2023  1,758   2022
12    Europe  1,807   2023      —  1,702
13    Africa      —      —  2,080   2021
14   Oceania  1,701   2023  1,596   2022
15  Americas      —      —  1,539   2021
16    Africa  1,348   2023  1,243   2022
17  Americas  1,274   2023  1,256   2022
18   Oceania  1,064   2023    984   2022
19  Americas  1,052   2023    962   2022
20  Americas  1,039   2023    949   2022
21  Americas      —  1,139   2022    943
22   Oceania    898   2023    832   2022
23  Americas      —  1,572   2022  1,154
24  Americas    681   2023    612   2022
25    Africa    625   2023    547   2022
26   Oceania    541   2023      —    472
27   Oceania    456   2023    427   2022
28   Oceania    291   2023    280   2022
29   Oceania      —      —    328   2021
30   Oceania    262   2023      —    218
31  Americas      —      —    303   2021
32   Oceania    248   2023    223   2022
33   Oceania    151   2023    151   2022
34  Americas      —      —     72   2021
35   Oceania     65   2023     60   2022

Dataframe for source 179:
      Africa  2,736   2023  2,383   2022
0   Americas      —      —  2,700   2021
1       Asia  2,683   2023      —  2,381
2     Africa  2,666   2023      —  2,255
3     Africa  2,584   2023  2,553   2022
4     Africa  2,468   2023  2,315   2022
5     Africa  2,277   2023  2,273   2022
6   Americas  2,262   2023  2,065   2022
7       Asia  1,988   2023  3,163   2022
8     Africa  1,950   2023  1,588   2022
9     Africa  1,887   2023  1,634   2022
10  Americas  1,864   2023  1,758   2022
11    Europe  1,807   2023      —  1,702
12    Africa      —      —  2,080   2021
13   Oceania  1,701   2023  1,596   2022
14  Americas      —      —  1,539   2021
15    Africa  1,348   2023  1,243   2022
16  Americas  1,274   2023  1,256   2022
17   Oceania  1,064   2023    984   2022
18  Americas  1,052   2023    962   2022
19  Americas  1,039   2023    949   2022
20  Americas      —  1,139   2022    943
21   Oceania    898   2023    832   2022
22  Americas      —  1,572   2022  1,154
23  Americas    681   2023    612   2022
24    Africa    625   2023    547   2022
25   Oceania    541   2023      —    472
26   Oceania    456   2023    427   2022
27   Oceania    291   2023    280   2022
28   Oceania      —      —    328   2021
29   Oceania    262   2023      —    218
30  Americas      —      —    303   2021
31   Oceania    248   2023    223   2022
32   Oceania    151   2023    151   2022
33  Americas      —      —     72   2021
34   Oceania     65   2023     60   2022

Dataframe for source 180:
    Americas      —      —  2,700   2021
0       Asia  2,683   2023      —  2,381
1     Africa  2,666   2023      —  2,255
2     Africa  2,584   2023  2,553   2022
3     Africa  2,468   2023  2,315   2022
4     Africa  2,277   2023  2,273   2022
5   Americas  2,262   2023  2,065   2022
6       Asia  1,988   2023  3,163   2022
7     Africa  1,950   2023  1,588   2022
8     Africa  1,887   2023  1,634   2022
9   Americas  1,864   2023  1,758   2022
10    Europe  1,807   2023      —  1,702
11    Africa      —      —  2,080   2021
12   Oceania  1,701   2023  1,596   2022
13  Americas      —      —  1,539   2021
14    Africa  1,348   2023  1,243   2022
15  Americas  1,274   2023  1,256   2022
16   Oceania  1,064   2023    984   2022
17  Americas  1,052   2023    962   2022
18  Americas  1,039   2023    949   2022
19  Americas      —  1,139   2022    943
20   Oceania    898   2023    832   2022
21  Americas      —  1,572   2022  1,154
22  Americas    681   2023    612   2022
23    Africa    625   2023    547   2022
24   Oceania    541   2023      —    472
25   Oceania    456   2023    427   2022
26   Oceania    291   2023    280   2022
27   Oceania      —      —    328   2021
28   Oceania    262   2023      —    218
29  Americas      —      —    303   2021
30   Oceania    248   2023    223   2022
31   Oceania    151   2023    151   2022
32  Americas      —      —     72   2021
33   Oceania     65   2023     60   2022

Dataframe for source 181:
        Asia  2,683   2023      —  2,381
0     Africa  2,666   2023      —  2,255
1     Africa  2,584   2023  2,553   2022
2     Africa  2,468   2023  2,315   2022
3     Africa  2,277   2023  2,273   2022
4   Americas  2,262   2023  2,065   2022
5       Asia  1,988   2023  3,163   2022
6     Africa  1,950   2023  1,588   2022
7     Africa  1,887   2023  1,634   2022
8   Americas  1,864   2023  1,758   2022
9     Europe  1,807   2023      —  1,702
10    Africa      —      —  2,080   2021
11   Oceania  1,701   2023  1,596   2022
12  Americas      —      —  1,539   2021
13    Africa  1,348   2023  1,243   2022
14  Americas  1,274   2023  1,256   2022
15   Oceania  1,064   2023    984   2022
16  Americas  1,052   2023    962   2022
17  Americas  1,039   2023    949   2022
18  Americas      —  1,139   2022    943
19   Oceania    898   2023    832   2022
20  Americas      —  1,572   2022  1,154
21  Americas    681   2023    612   2022
22    Africa    625   2023    547   2022
23   Oceania    541   2023      —    472
24   Oceania    456   2023    427   2022
25   Oceania    291   2023    280   2022
26   Oceania      —      —    328   2021
27   Oceania    262   2023      —    218
28  Americas      —      —    303   2021
29   Oceania    248   2023    223   2022
30   Oceania    151   2023    151   2022
31  Americas      —      —     72   2021
32   Oceania     65   2023     60   2022

Dataframe for source 182:
      Africa  2,666   2023      —  2,255
0     Africa  2,584   2023  2,553   2022
1     Africa  2,468   2023  2,315   2022
2     Africa  2,277   2023  2,273   2022
3   Americas  2,262   2023  2,065   2022
4       Asia  1,988   2023  3,163   2022
5     Africa  1,950   2023  1,588   2022
6     Africa  1,887   2023  1,634   2022
7   Americas  1,864   2023  1,758   2022
8     Europe  1,807   2023      —  1,702
9     Africa      —      —  2,080   2021
10   Oceania  1,701   2023  1,596   2022
11  Americas      —      —  1,539   2021
12    Africa  1,348   2023  1,243   2022
13  Americas  1,274   2023  1,256   2022
14   Oceania  1,064   2023    984   2022
15  Americas  1,052   2023    962   2022
16  Americas  1,039   2023    949   2022
17  Americas      —  1,139   2022    943
18   Oceania    898   2023    832   2022
19  Americas      —  1,572   2022  1,154
20  Americas    681   2023    612   2022
21    Africa    625   2023    547   2022
22   Oceania    541   2023      —    472
23   Oceania    456   2023    427   2022
24   Oceania    291   2023    280   2022
25   Oceania      —      —    328   2021
26   Oceania    262   2023      —    218
27  Americas      —      —    303   2021
28   Oceania    248   2023    223   2022
29   Oceania    151   2023    151   2022
30  Americas      —      —     72   2021
31   Oceania     65   2023     60   2022

Dataframe for source 183:
      Africa  2,584   2023  2,553   2022
0     Africa  2,468   2023  2,315   2022
1     Africa  2,277   2023  2,273   2022
2   Americas  2,262   2023  2,065   2022
3       Asia  1,988   2023  3,163   2022
4     Africa  1,950   2023  1,588   2022
5     Africa  1,887   2023  1,634   2022
6   Americas  1,864   2023  1,758   2022
7     Europe  1,807   2023      —  1,702
8     Africa      —      —  2,080   2021
9    Oceania  1,701   2023  1,596   2022
10  Americas      —      —  1,539   2021
11    Africa  1,348   2023  1,243   2022
12  Americas  1,274   2023  1,256   2022
13   Oceania  1,064   2023    984   2022
14  Americas  1,052   2023    962   2022
15  Americas  1,039   2023    949   2022

In [98]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = "https://en.wikipedia.org/wiki/List_of_countries_by_GDP_(nominal)"
response = requests.get(url)
html_content = response.text

soup = BeautifulSoup(html_content, "html.parser")
table = soup.find("table", {"class": "wikitable"})
source_names = []
data_rows = []
current_source = None

for row in table.find_all("tr"):
    columns = row.find_all("td")

    # Extract source names
    if len(columns) > 1:
        source_name = columns[0].text.strip()
        source_names.append(source_name)
        current_source = source_name

    # Extract data rows
    if len(columns) > 2:
        data_row = [column.text.strip() for column in columns[1:]]
        data_row.insert(0, current_source)  # Add the current source to the data row
        data_rows.append(data_row)

# Create a DataFrame with the combined data
header_row = ['Source'] + data_rows[0][1:]  # Use the first data row as the header row
data_rows = data_rows[1:]  # Remove the header row from the data rows
df_combined = pd.DataFrame(data_rows, columns=header_row)

# Print the DataFrame in tabular format
print(df_combined.to_string(index=False))

                          Source        — 105,568,776       2023 101,002,997       2022 96,698,005       2021
                   United States Americas  26,854,599       2023  25,462,700       2022 23,315,081       2021
                           China     Asia  19,373,586  [n 1]2023  17,963,171  [n 3]2022 17,734,131  [n 1]2021
                           Japan     Asia   4,409,738       2023   4,231,141       2022  4,940,878       2021
                         Germany   Europe   4,308,854       2023   4,072,192       2022  4,259,935       2021
                           India     Asia   3,736,882       2023   3,385,090       2022  3,201,471       2021
                  United Kingdom   Europe   3,158,938       2023   3,070,668       2022  3,131,378       2021
                          France   Europe   2,923,489       2023   2,782,905       2022  2,957,880       2021
                           Italy   Europe   2,169,745       2023   2,010,432       2022  2,107,703       2021
                          Canada Americas   2,089,672       2023   2,139,840       2022  1,988,336       2021
                          Brazil Americas   2,081,235       2023   1,920,096       2022  1,608,981       2021
                          Russia   Europe   2,062,649       2023   2,240,422       2022  1,778,782       2021
                     South Korea     Asia   1,721,909       2023   1,665,246       2022  1,810,966       2021
                       Australia  Oceania   1,707,548       2023   1,675,419       2022  1,734,532       2021
                          Mexico Americas   1,663,164       2023   1,414,187       2022  1,272,839       2021
                           Spain   Europe   1,492,432       2023   1,397,509       2022  1,427,381       2021
                       Indonesia     Asia   1,391,778       2023   1,319,100       2022  1,186,093       2021
                     Netherlands   Europe   1,080,880       2023     991,115       2022  1,012,847       2021
                    Saudi Arabia     Asia   1,061,902       2023   1,108,149       2022    833,541       2021
                          Turkey     Asia   1,029,303       2023     905,988       2022    819,034       2021
                     Switzerland   Europe     869,601       2023     807,706       2022    812,867       2021
                          Taiwan     Asia     790,728  [n 4]2023           —          —       None       None
                          Poland   Europe     748,887       2023     688,177       2022    679,442       2021
                       Argentina Americas     641,102       2023     632,770       2022    487,227       2021
                         Belgium   Europe     624,248       2023     578,604       2022    594,104       2021
                          Sweden   Europe     599,052       2023     585,939       2022    635,664       2021
                         Ireland   Europe     594,095       2023     529,245       2022    504,183       2021
                        Thailand     Asia     574,231       2023     495,341       2022    505,982       2021
                          Norway   Europe     554,105       2023     579,267       2022    482,175       2021
                          Israel     Asia     539,223       2023     522,033       2022    481,591       2021
                       Singapore     Asia     515,548       2023     466,789       2022    396,992       2021
                         Austria   Europe     515,199       2023     471,400       2022    480,368       2021
                         Nigeria   Africa     506,601       2023     477,386       2022    430,923       2021
            United Arab Emirates     Asia     498,978       2023     507,535       2022    405,468       2021
                         Vietnam     Asia     449,094       2023     408,802       2022    366,138       2021
                        Malaysia     Asia     447,026       2023     406,306       2022    372,702       2021
                     Philippines     Asia     440,901       2023     404,284       2022    394,086       2021
                      Bangladesh     Asia     420,516       2023     460,201       2022    414,907       2021
                         Denmark   Europe     405,626       2023     395,404       2022    398,303       2021
                    South Africa   Africa     399,015       2023     405,870       2022    419,016       2021
                       Hong Kong     Asia     382,854  [n 5]2023     359,839       2022    369,174       2021
                           Egypt   Africa     378,110       2023     476,748       2022    425,906       2021
                        Pakistan     Asia           —    376,533        2022    342,501       2021       None
                            Iran     Asia     367,970       2023     388,544       2022    594,892       2021
                           Chile Americas     358,557       2023     301,025       2022    317,059       2021
                         Romania   Europe     348,902       2023     301,262       2022    284,086       2021
                        Colombia Americas     334,689       2023     343,939       2022    314,464       2021
                  Czech Republic   Europe     330,483       2023     290,924       2022    281,778       2021
                         Finland   Europe     301,670       2023     280,826       2022    297,302       2021
                            Peru Americas     268,235       2023     242,632       2022    223,252       2021
                            Iraq     Asia     267,893       2023     264,182       2022    204,004       2021
                        Portugal   Europe     267,721       2023     251,945       2022    253,663       2021
                     New Zealand  Oceania     251,969       2023     247,234       2022    250,451       2021
                      Kazakhstan     Asia     245,695       2023     220,623       2022    193,018       2021
                          Greece   Europe     239,300       2023     219,066       2022    214,874       2021
                           Qatar     Asia     219,570       2023     237,296       2022    179,571       2021
                         Algeria   Africa     206,007       2023     191,913       2022    163,473       2021
                         Hungary   Europe     188,505       2023     178,789       2022    181,848       2021
                          Kuwait     Asia     164,713       2023     184,558       2022    136,642       2021
                        Ethiopia   Africa     156,083       2023     126,783       2022     99,269       2021
                         Ukraine   Europe     148,712  [n 6]2023     160,503  [n 6]2022    200,086  [n 6]2021
                         Morocco   Africa     138,781       2023     134,182       2022    142,867  [n 7]2021
                        Slovakia   Europe     127,533       2023     115,469       2022    116,527       2021
                         Ecuador Americas     121,291       2023     115,049       2022    106,166       2021
              Dominican Republic Americas     121,289       2023     113,642       2022     94,243       2021
                     Puerto Rico Americas     120,838       2023     113,435       2022    106,526       2021
                           Kenya   Africa     118,130       2023     113,420       2022    110,347       2021
                          Angola   Africa     117,877       2023     106,714       2022     70,533       2021
                            Cuba Americas           —          —     126,694       2021       None       None
                            Oman     Asia     104,902       2023     114,667       2022     88,192       2021
                       Guatemala Americas     102,309       2023      95,003       2022     85,986       2021
                        Bulgaria   Europe     100,635       2023      89,040       2022     84,058       2021
                       Venezuela Americas      96,628       2023           —    111,813       2021       None
                      Uzbekistan     Asia      92,332       2023      80,392       2022     69,239       2021
                      Luxembourg   Europe      86,971       2023      82,275       2022     85,506       2021
                        Tanzania   Africa      85,421       2023      75,709       2022     70,297  [n 8]2021
                    Turkmenistan     Asia      82,649       2023           —     53,954       2021       None
                         Croatia   Europe      78,881       2023      70,965       2022     68,955       2021
                       Lithuania   Europe      78,346       2023      70,334       2022     66,445       2021
                      Costa Rica Americas      77,777       2023      68,381       2022     64,282       2021
                         Uruguay Americas      77,313       2023      71,177       2022     59,318       2021
                          Panama Americas      77,257       2023      76,523       2022     63,605       2021
                     Ivory Coast   Africa      77,047       2023      70,019       2022     69,765       2021
                       Sri Lanka     Asia           —     74,404        2022     85,309       2021       None
                          Serbia   Europe      73,961       2023      63,502       2022     63,068       2021
                         Belarus   Europe      73,543       2023      72,793       2022     68,206       2021
                      Azerbaijan     Asia      70,030       2023      78,721       2022     54,622       2021
                        DR Congo   Africa      69,474       2023      58,066       2022     52,850       2021
                        Slovenia   Europe      68,108       2023      62,118       2022     61,749       2021
                           Ghana   Africa      66,622       2023      72,839       2022     79,083       2021
                         Myanmar     Asia      63,988       2023      59,364       2022     58,582       2021
                          Jordan     Asia      52,061       2023      47,452       2022     45,244       2021
                         Tunisia   Africa      49,815       2023      46,665       2022     46,687       2021
                          Uganda   Africa      49,792       2023      45,559       2022     42,661       2021
                        Cameroon   Africa      48,625       2023      44,342       2022     45,368       2021
                          Latvia   Europe      47,398       2023      41,154       2022     39,854       2021
                           Sudan   Africa      46,705       2023      51,662       2022     35,867       2021
                           Libya   Africa      46,297       2023      45,752       2022     39,006       2021
                         Bolivia Americas      46,097       2023      43,069       2022     40,408       2021
                         Bahrain     Asia      44,870       2023      44,391       2022     38,869       2021
                        Paraguay Americas      42,820       2023      41,722       2022     40,458       2021
                           Nepal     Asia      42,097       2023      40,828       2022     36,207       2021
                         Estonia   Europe      41,551       2023      38,101       2022     37,191       2021
                           Macau     Asia      35,841  [n 9]2023      21,979       2022     29,905       2021
                     El Salvador Americas      33,752       2023      32,489       2022     28,737       2021
                        Honduras Americas      32,860       2023      31,718       2022     28,489       2021
                Papua New Guinea  Oceania      31,362       2023      30,633       2022     26,595       2021
                         Senegal   Africa      31,221       2023      27,684       2022     27,625       2021
                          Cyprus     Asia      30,864 [n 10]2023      28,439 [n 10]2022     28,408 [n 10]2021
                        Cambodia     Asia      30,628       2023      29,957       2022     26,669       2021
                        Zimbabwe   Africa      29,931       2023      20,678       2022     24,118       2021
                          Zambia   Africa      29,272       2023      29,784       2022     21,313       2021
                         Iceland   Europe      28,625       2023      27,842       2022     25,602       2021
          Bosnia and Herzegovina   Europe      28,488       2023      24,528       2022     23,365       2021
             Trinidad and Tobago Americas      28,223       2023      27,899       2022     24,460       2021
                         Georgia   Europe      27,947 [n 11]2023      24,605 [n 11]2022     18,696 [n 11]2021
                           Haiti Americas      26,580       2023      20,254       2022     19,044       2021
                         Lebanon     Asia           —          —      37,945       2021       None       None
                         Armenia     Asia      23,725       2023      19,503       2022     13,861       2021
                          Guinea   Africa      23,330       2023      21,228       2022     16,036       2021
                    Burkina Faso   Africa      21,076       2023      18,885       2022     19,738       2021
                            Mali   Africa      20,776       2023      18,827       2022     19,157       2021
                           Gabon   Africa      20,330       2023      21,072       2022     18,521       2021
                         Albania   Europe      20,177       2023      18,882       2022     18,260       2021
                     Afghanistan     Asia           —          —      14,939       2021       None       None
                      Mozambique   Africa      19,909       2023      17,851       2022     15,777       2021
                       Palestine     Asia      19,206 [n 12]2023      19,112 [n 12]2022     18,037 [n 13]2021
                        Botswana   Africa      19,572       2023      20,352       2022     17,615       2021
                           Yemen     Asia      19,529       2023           —      9,947       2021       None
                           Malta   Europe      19,405       2023      17,765       2022     17,721       2021
                           Benin   Africa      19,236       2023      17,402       2022     17,688       2021
                       Nicaragua Americas      17,287       2023      15,672       2022     14,013       2021
                         Jamaica Americas      17,254       2023      17,098       2022     14,658       2021
                        Mongolia     Asia      16,908       2023      16,811       2022     15,098       2021
                           Niger   Africa      16,617       2023      13,970       2022     14,915       2021
                          Guyana Americas      16,309       2023      15,358       2022      8,044       2021
                          Brunei     Asia      15,988       2023      16,682       2022     14,006       2021
                      Madagascar   Africa      15,969       2023      14,955       2022     14,450       2021
                     North Korea     Asia           —          —      16,750       2021       None       None
                         Moldova   Europe      15,829 [n 14]2023      14,421 [n 14]2022     13,680 [n 14]2021
                           Syria     Asia           —          —      19,719       2021       None       None
                 North Macedonia   Europe      15,278       2023      13,563       2022     13,881       2021
               Equatorial Guinea   Africa      15,099       2023      11,814       2022     12,431       2021
                       Mauritius   Africa      14,570       2023      12,898       2022     11,525       2021
                         Bahamas Americas      14,114       2023      12,897       2022     11,209       2021
                            Laos     Asia      14,091       2023      15,724       2022     19,074       2021
                         Namibia   Africa      13,486       2023      12,607       2022     12,236       2021
                          Rwanda   Africa      13,149       2023      13,313       2022     11,070       2021
                           Congo   Africa      13,031       2023      14,616       2022     12,841       2021
                      Tajikistan     Asia      12,796       2023      10,492       2022      8,746       2021
                      Kyrgyzstan     Asia      12,309       2023      10,931       2022      8,741       2021
                            Chad   Africa      11,962       2023      12,704       2022     16,410       2021
                          Malawi   Africa      11,277       2023      13,165       2022     12,199       2021
                      Mauritania   Africa      10,966       2023      10,375       2022      9,996       2021
                   New Caledonia  Oceania           —          —      10,071       2021       None       None
                          Kosovo   Europe       9,990       2023       9,429       2022      9,412       2021
                            Togo   Africa       9,001       2023       8,126       2022      8,160       2021
                         Somalia   Africa       8,738       2023       8,126       2022      7,628       2021
                          Monaco   Europe           —          —       8,596       2021       None       None
                         Bermuda Americas           —      7,551        2022      7,231       2021       None
                      Montenegro   Europe       7,027       2023       6,096       2022      5,809       2021
                     South Sudan   Africa       7,012       2023           —      4,304       2021       None
                        Maldives     Asia       7,004       2023       6,190       2022      5,406       2021
                   Liechtenstein   Europe           —          —       6,608       2021       None       None
                        Barbados Americas       6,117       2023       5,638       2022      4,844       2021
                French Polynesia  Oceania           —          —       6,055       2021       None       None
                  Cayman Islands Americas           —          —       5,809       2021       None       None
                            Fiji  Oceania       5,385       2023       4,943       2022      4,296       2021
                        Eswatini   Africa       4,824       2023       4,854       2022      4,732       2021
                         Liberia   Africa       4,375       2023       4,001       2022      2,445       2021
                        Djibouti   Africa       3,916       2023       3,515       2022      3,701       2021
                         Andorra   Europe       3,669       2023       3,352       2022      3,325       2021
                           Aruba Americas       3,633       2023           —      3,126       2021       None
                    Sierra Leone   Africa       3,520       2023       3,970       2022      4,249       2021
                        Suriname Americas       3,470       2023       3,621       2022      3,224       2021
                         Burundi   Africa       3,234       2023       3,073       2022      3,900       2021
                          Belize Americas       3,162       2023       2,824       2022      2,492       2021
                       Greenland Americas           —          —       3,273       2021       None       None
        Central African Republic   Africa       2,736       2023       2,383       2022      2,518       2021
                         Curaçao Americas           —          —       2,700       2021       None       None
                          Bhutan     Asia       2,683       2023           —      2,381       2021       None