# <center> Week - 9 & 10 Exercises

<center> DSC-540

<center> Kalyan Pothineni

### Activy - 11, Retrieving Data Correctly from Databases

In [36]:
# Import libraires as needed

import sqlite3

#### Connect to petDB and check for connection

In [40]:
# Function to connect and check if DB is connect or failed
def check_db_connection(database_path):
    try:
        cursor = sqlite3.connect(database_path)
        cursor.close()
        return True
    except sqlite3.Error:
        return False

database_path = "petsdb"

if check_db_connection(database_path):
    print("Database connection successful!")
else:
    print("Database connection failed.")

Database connection successful!

In [43]:
# Establish a connection to the database
try:
    connection = sqlite3.connect(database_path)
    cursor = connection.cursor()
    print("Database connection is now open. Make sure to close the connection once you done!")
except:
    print("Failed to open the database connection.")

Database connection is now open. Make sure to close the connection once you done!

#### Find the different age groups in the psersons table

In [44]:
# Define the SQL query to count people for each age
query = "SELECT age, COUNT(*) \
            FROM persons \
            GROUP BY 1"

# Execute the query
cursor.execute(query)

# Fetch all the results
age_counts = cursor.fetchall()
#print(age_counts)

# Display the results or an error message
if age_counts is not None:
    for age, count in age_counts:
        print("We have {} people, aged {}".format(count, age))
else:
    print("Failed to fetch age counts from the database.")

We have 2 people, aged 5
We have 1 people, aged 6
We have 1 people, aged 7
We have 3 people, aged 8
We have 1 people, aged 9
We have 2 people, aged 11
We have 3 people, aged 12
We have 1 people, aged 13
We have 4 people, aged 14
We have 2 people, aged 16
We have 2 people, aged 17
We have 3 people, aged 18
We have 1 people, aged 19
We have 3 people, aged 22
We have 2 people, aged 23
We have 3 people, aged 24
We have 2 people, aged 25
We have 1 people, aged 27
We have 1 people, aged 30
We have 3 people, aged 31
We have 1 people, aged 32
We have 1 people, aged 33
We have 2 people, aged 34
We have 3 people, aged 35
We have 3 people, aged 36
We have 1 people, aged 37
We have 2 people, aged 39
We have 1 people, aged 40
We have 1 people, aged 42
We have 2 people, aged 44
We have 2 people, aged 48
We have 1 people, aged 49
We have 1 people, aged 50
We have 2 people, aged 51
We have 2 people, aged 52
We have 2 people, aged 53
We have 2 people, aged 54
We have 1 people, aged 58
We have 1 people, aged 59
We have 1 people, aged 60
We have 1 people, aged 61
We have 2 people, aged 62
We have 1 people, aged 63
We have 2 people, aged 65
We have 2 people, aged 66
We have 1 people, aged 67
We have 3 people, aged 68
We have 1 people, aged 69
We have 1 people, aged 70
We have 4 people, aged 71
We have 1 people, aged 72
We have 5 people, aged 73
We have 3 people, aged 74

#### Find the age group that has the maximum number of people

In [45]:
# Define the SQL query to count people for each age
query = " SELECT age, COUNT(*) AS CNT \
            FROM persons \
            GROUP BY 1 \
            ORDER BY COUNT(*) DESC \
            LIMIT 1"

# Execute the query
cursor.execute(query)

# Fetch the result
max_age_group = cursor.fetchone()
#print(max_age_group)

# Display the result or an error message
if max_age_group is not None:
    age, count = max_age_group
    print("The age group with the maximum number of people is: Age {}, Count {}".format(age, count))
else:
    print("Failed to fetch the maximum age group from the database.")

The age group with the maximum number of people is: Age 73, Count 5

#### Find the people who do not have a last name

In [46]:
# Define the SQL query to count people with more than one pet
query = "SELECT COUNT(*) FROM persons \
            WHERE (last_name IS NULL OR last_name = '')"

# Execute the query
cursor.execute(query)

# Fetch the result
no_full_name_count = cursor.fetchone()[0]
# print(no_full_name_count )

# Display the result or an error message
if no_full_name_count is not None:
    print("Number of people with no full name: {}".format(no_full_name_count))
else:
    print("Failed to fetch the count from the database.")

Number of people with no full name: 60

#### Find how many people have more than one pet

In [47]:
# Define the SQL query to count people with no last name
query = " SELECT COUNT(*) FROM \
            ( \
                SELECT COUNT(owner_id) \
                FROM pets \
                GROUP BY owner_id \
                HAVING count(owner_id) >1 \
            ) a"

# Execute the query
cursor.execute(query)

# Fetch the result
multiple_pets_count = cursor.fetchone()[0]
#print(treated_pets_count)

# Display the result or an error message
if multiple_pets_count is not None:
    print("Number of people with more than one pet: {}".format(multiple_pets_count))
else:
    print("Failed to fetch the count from the database.")

Number of people with more than one pet: 43

#### Find out how many pets have received treatment

In [48]:
# Define the SQL query to count people with no last name
query = "SELECT COUNT(*) \
            FROM pets \
            WHERE treatment_done=1"

# Execute the query
cursor.execute(query)

# Fetch the result
treatment_done = cursor.fetchone()[0]
#print(treatment_done)

# Display the result or an error message
if treatment_done is not None:
    print("Number of pets that have received treatment: {}".format(treatment_done))
else:
    print("Failed to fetch the count from the database.")

Number of pets that have received treatment: 36

#### Find out how many pets have received treatment and the type of pet is known

In [49]:
# Define the SQL query to count people with no last name
query = "SELECT COUNT(*) \
            FROM pets \
            WHERE treatment_done=1 AND pet_type IS NOT null"

# Execute the query
cursor.execute(query)

# Fetch the result
treatment_done_type = cursor.fetchone()[0]
#print(treatment_done)

# Display the result or an error message
if treatment_done_type is not None:
    print("Number of pets that have received treatment and we know the type: {}".format(treatment_done_type))
else:
    print("Failed to fetch the count from the database.")

Number of pets that have received treatment and we know the type: 16

#### Find out how many pets are from east port

In [50]:
# Define the SQL query to count people with no last name
query = "SELECT COUNT(*) \
            FROM pets \
            JOIN persons \
                ON pets.owner_id = persons.id \
            WHERE persons.city='east port'"

# Execute the query
cursor.execute(query)

# Fetch the result
pets_from_east_port = cursor.fetchone()[0]
#print(treatment_done)

# Display the result or an error message
if pets_from_east_port is not None:
    print("Number of pets from east port: {}".format(pets_from_east_port))
else:
    print("Failed to fetch the count from the database.")

Number of pets from east port: 49

#### Find out how many pets are from east port and received treatment

In [51]:
# Define the SQL query to count people with no last name
query = "SELECT COUNT(*) \
            FROM pets \
            JOIN persons \
                ON pets.owner_id = persons.id \
            WHERE persons.city='east port'\
            AND pets.treatment_done=1"

# Execute the query
cursor.execute(query)

# Fetch the result
pets_from_east_port_treatment = cursor.fetchone()[0]
#print(treatment_done)

# Display the result or an error message
if pets_from_east_port_treatment is not None:
    print("Number of pets from east port and received treatment: {}".format(pets_from_east_port_treatment))
else:
    print("Failed to fetch the count from the database.")

Number of pets from east port and received treatment: 11

In [52]:
try:
    connection.close()
    print("Database connection closed.")
except:
    print("Failed to close the database connection.")

Database connection closed.

- Above implemented code provides a comprehensive approach to checking and establishing a connection to a SQLite database. The check_db_connection function effectively determines the status of the database connection, offering a clear indication of success or failure. The subsequent code blocks demonstrates the process of connecting to the database and creating a cursor, with appropriate messages printed to ensure the user is informed of the connection status. It is important to ensure that the database connection is properly closed after its use to maintain efficient resource management and to reduce the cost.